ion-content {
    background-color: darkgreen;
    
 }

video {
   width: 100%;
   justify-content: center;
}

.flex {
  //  padding-right: 15px;
  //  display: flex;
  //  flex-wrap: wrap;
  //  justify-content: center;

    height: 90%;
    border-top: 1px solid black;
    overflow-y: scroll;
}
ion-card {
    width: 95%;
    margin: 5px;
}