<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-scroll scrollX="true" scrollY="true" style="height: 100px;">
    <h2>Top</h2>
    <ion-list>
        <ion-item *ngFor="let item of top_item_array; let idx = index" (tap)="move_from_top_to_bottom(idx)">
            {{item}}
        </ion-item>
    </ion-list>
</ion-scroll>
<ion-scroll scrollX="true" scrollY="true" style="height: 100px;">
    <h2>Bottom</h2>
    <ion-list>
        <ion-item *ngFor="let item of bottom_item_array; let idx = index" (tap)="move_from_bottom_to_top(idx)">
            {{item}}
        </ion-item>
    </ion-list>
</ion-scroll>
  
</ion-content>
